 <div class="modal-header">
     <button type="button" class="close" data-ng-click="$dismiss()">&times;</button>
            <h3 class="modal-title">Select player {{userCount}}</h3>
        </div>
<!--        <div class="modal-body">
            <div ui-grid="gridOptions" ui-grid-selection class="grid-class"></div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OKs</button>
            <button class="btn btn-warning" type="button"  ng-click="cancel()">Cancel</button>
        </div>-->

 <div ui-grid="gridOptions" ui-grid-selection class="grid-class"></div>